@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 90, 58, 58; /* brand.dark */
  --background-start-rgb: 253, 244, 245; /* brand.light */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}